@font-face {
  font-family: 'Roboto Slab';
  src: url('./fonts/roboto\ slab/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter/Inter-VariableFont_slnt_wght.ttf');
}

body {
  background-color: #fefeff;
  line-height: 1.4;
  text-align: left;
  font-family: 'Inter', 'Inter', serif;
  font-size: 20px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', 'Roboto', serif;
  line-height: 1.0;
}

a {
  color: #252af8;
}

p, h1, h2, h3, h4, h5, h6 {
  max-width: 45rem;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

main { 
  background-color: white;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  min-height: 100vh;
} 

button {
  background-color: #252af8;
  border: none;
  border-radius: 14px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-flex;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Roboto Slab', 'Roboto', serif;
}

.top {
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.logo {
  width: 72px;
  height: 72px;
}

.top-spacer {
  flex: 1;
}

.about-us {
  margin-right: 20px;
}

.bottom {
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

.test-background {
  width: 1280px;
  height: 800px;
  margin: 0 auto;
}

.middle {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tab1-content {
  width: 100%;
}

#tab2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tab3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  padding: 60px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* From https://css.glass */
  background: rgb(37, 42, 248, 0.85);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  display: none;
  z-index: 10000;
  flex-direction: column;
}

.open-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal > p {
  color: white;
}

.modal-header {
  position: fixed;
  top: 20px;
  right: 20px;
}

.modal-close-icon {
  width: 32px;
  height: 32px;
  color: white; 
}

.about-derek {
  display: flex;
}

.about-derek-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.4;
}

.section-divider {
  height: 2px;
  width: 250px;
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-hannah {
  display: flex;
}

.about-hannah-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.4;
}

.about-mission {
  display: flex;
}

.mission-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.4;
}

.about-values {
  display: flex;
}

.values-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.values-text p {
  margin-top: 8px;
  margin-bottom: 0;
}

.vision {
  display: flex;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.45;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

[data-tab-component] [role=tablist] {
  margin-bottom: 0;
  padding-left: 0;
}
@media (min-width: 568px) {
  [data-tab-component] [role=tablist] {
    display: flex;
  }
}
[data-tab-component] [role=presentation] {
  flex: 1;
  list-style-type: none;
}
[data-tab-component] [role=tab] {
  margin-left: 4px;
  margin-right: 4px;
  align-items: center;
  background-color: transparent;
  border: 3px solid #252af8;
  color: #252af8;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms;
}
[data-tab-component] [role=tab]:hover {
  background-color: #f2f2f2;
  color: #333;
}
[data-tab-component] [role=tab][aria-selected=true] {
  background-color: #252af8;
  color: #fff;
}
[data-tab-component] [role=tabpanel] {
  background-color: #fff;
}
#tab-container [role=tabpanel][aria-hidden=true] {
  display: none;
}

.twitter {
  bottom: 0;
  position: fixed;
  right: 0;
  width: 50px;
}